// @import "../font/font.scss";
//sass规范，被引用的文件名开头需要加下划线，被引用时则不需要
// @import './variables/diy-vars-default.scss';
// @import './variables//init-vars.scss';
@import './variables/config.scss';
@import './_variable.scss';
//重置 *表示任意元素
* {
    // 表示以边框为准，加padding不会撑大，只是把内容挤压
    box-sizing: border-box;
    //禁止外面的样式
    outline: none;
    // background-color: rgba(1, 213, 251, 0.10);
    // color: #495464;
    // 滚动条样式
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(#8c8c8c, 0.7);
        transition: background-color 0.3s;
        &:hover {
            background: #bbb;
        }
    }
    &::-webkit-scrollbar-track {
        background: #ededed;
    }
}

// 修改lineup库样式
.lu-side-panel {
    width: 28em !important;
    // lineup的侧边视图隐藏掉
    .lu-stats {
        display: none !important;
    }
    .lu-side-panel-chooser {
        display: none !important;
    }
    .lu-hierarchy {
        display: none !important;
    }
    .lu-checkbox {
        display: none !important;
    }
    .lu-side-panel-ranking:before {
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
        content: "列操作";
    }
    .lu-histogram.lu-histogram-i {
        margin-bottom: 2.5em;
        margin-top: 1.5em;
    }
}

.lu>aside {
    border-left: 5px solid transparent !important;
}

// icon 颜色橘色-》主题色
.lu-action-group[data-group=true]:before {
    color: #495464 !important;
}

.lu-action-group[data-priority]:after {
    color: #495464 !important;
}

.lu-action-filter[data-active]:before {
    color: #495464 !important;
}

.lu-action-sort[data-sort$=sc]:before {
    color: #495464 !important;
}

.lu-action-sort[data-priority]:after {
    color: #495464 !important;
}

// 高亮颜色
.le-tr.lu-selected {
    box-shadow: 0 0 0 2px #495464 !important;
}

.le-tr.le-highlighted,
.le-tr:hover {
    box-shadow: 0 0 0 2px #495464 !important;
}

// 移除图标
.lu-typed-icon[data-type-cat=number]:before {
    content: unset !important;
}

.lu-typed-icon[data-type-cat=categorical]:before {
    content: unset !important;
}

.lu-typed-icon[data-type-cat=string]:before {
    content: unset !important;
}

.lu-renderer-aggregate {
    justify-content: center !important;
}

.lu-rule-button-chooser {
    padding: .5em !important;
    background-color: #e8e8e8 !important;
    margin: .5em 0;
}

// 文件名称列的字体调整，修复产生y轴scroll的问题
.le-td[data-group=d] {
    font-size: smaller;
}

.el-main {
    // line-height: unset !important;
    padding: 5px;
}

// .lu {
//     line-height: unset;
// }
// .le-td {
//     overflow-x: initial;
// }
.lu-cat-label {
    align-self: flex-end !important;
}

.mSideBar {
    background-color: #bbbfca;
    display: flex;
    align-content: space-between;
    align-items: center;
    // background: #f0f0f0;
    padding: .4em .5em .4em 1em;
    position: relative;
    font-size: 16px;
    font-weight: 800;
    height: 40px;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'mingliu', Arial, Helvetica, sans-serif;
    // line-height: 1rem;
    background: #f1f1f1;
}

a {
    color: #999;
}

p {
    line-height: 1rem;
}

@each $colorKey,
$color in $colors {
    //字体颜色
    .text-#{$colorKey} {
        color: $color;
    }
    //背景颜色
    .bg-#{$colorKey} {
        background-color: $color;
    }
}

//text三种对齐方式定义成工具类
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size;
    }
}

//宽高边距样式,可以使图片缩放展示完整的图片
.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.h-100 {
    width: 100%;
}

.h-80 {
    height: 80%;
}

//flex
.d-flex {
    display: flex;
}

//垂直
.flex-column {
    flex-direction: column;
}

//换行
.flex-wrap {
    flex-wrap: wrap;
}

@each $key,
$value in $flex-js {
    .jc-#{$key} {
        justify-content: $value;
    }
}

//align-items
@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

//左边固定，右边拉伸填满，简写形式
.flex-1 {
    flex: 1;
}

//具体
.flex-grow-1 {
    flex-grow: 1;
}

//边距实现
@each $typeKey,
$type in $spacing-types {
    //.m-1没有方向
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }
    //.mx-1表示左右边距
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
    }
    //.my-1表示上下边距
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    //.mt-1
    @each $directionKey,
    $direction in $spacing-directions {
        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
    .#{$typeKey} {
        #{$type}: 0;
    }
}

//按钮 align-items: center;表示上下垂直居中
.btn {
    border: none;
    border-radius: .153846rem;
    font-size: map-get($font-sizes, 'sm');
    padding: 0.2rem 0.6rem;
    &.btn-lg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        i {
            color: map-get($colors, 'primary');
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 0.8rem;
        }
        background: map-get($colors, 'light-btn');
        border: 1px solid map-get($colors, 'border-grey');
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}

//导航菜单的样式,默认横向、分散对齐
.nav {
    display: flex;
    // justify-content: space-around;
    // 嵌套里面用&符号表示.active是上一层的本身。加transparent这样在一定程度上表示对齐
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active {
            color: map-get($colors, 'primary');
            border-bottom-color: map-get($colors, 'primary');
        }
    }
    // 表示nav-inverse与nav平级
    &.nav-inverse {
        .nav-item {
            border-bottom: 3px solid transparent;
            padding-bottom: 0.2rem;
            &.active {
                color: map-get($colors, 'white');
                border-bottom-color: map-get($colors, 'white');
            }
        }
    }
}

//div底部阴影
.b-shadow {
    box-shadow: 1px 1px 3px #D4D9DE;
    margin-bottom: 3px;
}

//div底部线条
.b-bottom {
    border-bottom: 0.076923rem solid;
    border-bottom-color: #d4d9de !important;
    margin-bottom: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
}

//文本溢出处理
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    //不换行
    white-space: nowrap;
}

// 边框
@each $dir in (top, bottom, left, right) {
    .border-#{$dir} {
        border-#{$dir}: 1px solid $border-color;
    }
}